@import './variables';

@media only screen and (max-width:800px) {
     #watch-video-page{
     flex-direction: column;
     }

     #watch-video-page > div{
          max-width: 100% !important;
          width: 97% !important;
     }

     .askQuestionMenuContainer{
          display: flex;
          flex-direction: column-reverse !important;
     }

     .askQuestionMenuContainer .assetFilter{
          width: 80%;
          overflow-x: auto;
          margin-top: 15px;
          margin-left: 0;
     }
}